* {
  padding: 0;
  margin: 0;
}

.dropdown {
  position: absolute;
  display: none;
  z-index: 100;
  border: 1px solid black;
}

.dropdown-visible {
  display: block;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100px;
  padding: 2px;
}

.dropdown-item {
  padding: 5px 0;
}

.dropdown p:hover {
  border: 1px solid black;
  cursor: pointer;
}


.circle {
  position: absolute;
  display: none;
  width: 60px;
  height: 60px;
  /* border-radius: 50%; */
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border: 2px solid red;
}

.circle-visible {
  display: block;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-container > img {
  width: 75%;
  padding: 1%;
}

.header-container {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}
