* {
  padding: 0;
  margin: 0;
}

.dropdown {
  position: absolute;
  display: none;
  z-index: 100;
  border-radius: 3px;
  background-color: white;
  width: 120px;
  text-align: center;
  font-weight: bold;
}

.dropdown-visible {
  display: block;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1px;
}

.dropdown-item {
  padding: 1px 0;
}

.dropdown p:hover {
  background-color: rgba(144,238,144,1);
  cursor: pointer;
}

.circle {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border: 2px solid red;
}

.green-circle {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border: 5px solid green;
}

.circle-visible {
  display: block;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-container > img {
  width: 75%;
  padding: 1%;
}

.title {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}

.score {
  display: flex;
  align-items: center;
}

.leaderboard {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.play-again {
  padding-left: 5px;
}

.dark-background {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal-center {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content-leaderboard {
  width: 400px;
  min-height: 320px;
  background: white;
  color: black;
  z-index: 10px;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.04);
}
.modal-content {
  width: 400px;
  height: 320px;
  background: white;
  color: black;
  z-index: 10px;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.04);
}

.modal-title {
  text-align: center;
  padding: 20px;
}

.modal-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-input {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.modal-list {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  
}
