* {
  padding: 0;
  margin: 0;
}

.dropdown {
  position: absolute;
  display: none;
  z-index: 100;
  border-radius: 3px;
  background-color: white;
  width: 120px;
  text-align: center;
  font-weight: bold;
}

.dropdown-visible {
  display: block;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1px;
}

.dropdown-item {
  padding: 1px 0;
}

.dropdown p:hover {
  box-shadow: 0 0 0 1px black;
  cursor: pointer;
}

.circle {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border: 2px solid red;
}

.green-circle {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border: 5px solid green;
}

.circle-visible {
  display: block;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-container > img {
  width: 75%;
  padding: 1%;
}

.header-container {
  padding-top: 1%;
  display: flex;
  justify-content: center;
}
